@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');

h1 {
    font-family: "Pacifico";
    color: #5f021f
}

img {
    max-width: 100%;
}

p {
    font-family: "Neucha";
}

span {
    color: #a47;
}